* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: arial;
    text-transform: capitalize
}

body {
    background: #b8b8b8ff;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center
}

::placeholder {
    color: #ccc;
    transition: .5s;
    font-size: 15px
}

:focus::placeholder {
    opacity: 0
}

form input[type="password"]::placeholder {
    letter-spacing: 3px
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-gap: 10px;
    background: #0e0e0e;
    width: 500px;
    height: 500px;
    border-radius: 50%
}

form h2 {
    color: #ccc;
    margin: 20px 0;
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 18px;
    letter-spacing: 3px
}

form > div {
    background: #4c4a4dff;
    width: 70%;
    height: 130px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 6px
}

form > div input {

    padding: 16px 0;
    background: none;
    border: 0;
    margin: 10px 0;
    outline: none;
    margin-right: 30px;
    color: #ccc
}

input[type="text"]:focus ~ .fa-user {
    
    color: #19b959;

}

input[type="password"]:focus ~ .fa-lock {
    
    color: #19b959;

}

form hr {
    border: 0;
    width: 80%;
    height: 1px;
    border: 1px solid #b8b8b873
}

form > div i {
    position: absolute;
    top: 18px;
    left: 34px;
    color: #ccc;
    font-size: 20px
}

form > div i:last-of-type {
    top: 84px
}

form button {
    background: #19b959;
    border: 0;
    width: 70%;
    padding: 15px;
    color: #000000ad;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    cursor: pointer;
    border-radius: 6px
}

@media(max-width:480px) {

    form {
        max-width: 350px;
        height: 350px
    }

    form > div input {
        margin-right: -60px
    }

    h2 {
        margin: 0 !important;
        position: relative;
        top: -20px
    }
}
